.board {
  text-align: center;
}
.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-row {
  display: flex;
  justify-content: center;
}
.occupied {
  background-color: white;
}
.occupied {
  background-color: black;
}
